<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
	<!--医院ID按需求设置-->
    <add key="HospitalID" value="178" />
	<!--设备ID按需求设置-->
    <add key="DeviceID" value="01" />
	<!--患者类型-->
	<add key="PatientType" value="门诊" />
	<!--md5码不要改-->
	<add key="md5key" value="31a90d4e82b6f5c7" />
	<!--仓位数-->
    <add key="BinNum" value="14" />
	<!--下位机端口-->
    <add key="PortName" value="com1" />
	<!--非标打印机端口 设置为下位机端口，由下位机打印-->
    <add key="NonStandard" value="usb" />
	<!--回执单端口 设置为下位机端口，由下位机打印 设置为非标端口由非标打印机打印-->
    <add key="BackOrder" value="com1" />
	<!--分机号，如果一带二记得设置为不一样的 1-255-->
    <add key="MachineId" value="1" />
	<!--接口地址-->
	<!--<add key="InterfaceUrl" value="http://192.168.101.249:8000/os/Label/Getlabelinfo"/>-->
	<!--被动模式 none:关闭 did:根据设备id truename:根据真名 loginname:根据登录名-->
	<add key ="Passive" value="none"/>
	<!--贴标超时时间秒-->
	<add key ="LabelingTimeout" value="15"/>
	<!--处理流程类-->
	<add key="LPMName" value="LabelMachineHelper"/>
	<!--排队满提示文字-->
	<add key="QueueFullMsg" value="下位机已达到最大队列，无法打印"/>
	<!--扫码键盘延迟毫秒-->
	<add key="BarCodeGunTime" value="100"/>
	<!--发送延迟-->
	<add key="SentTimeSpan" value="0"/>
	<!--隔几秒检测是否断开-->
	<add key="CheckBreakLine" value="0"/>
	<!--固件更新模式-->
	<add key="fix" value="off"/>
  </appSettings>
  <connectionStrings>
    <add name="dbLabelInfoEntities" connectionString="metadata=res://*/DB_dbLabelInfo.csdl|res://*/DB_dbLabelInfo.ssdl|res://*/DB_dbLabelInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbLabelInfo;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbLabelMidEntities" connectionString="metadata=res://*/DB_dbLabelMid.csdl|res://*/DB_dbLabelMid.ssdl|res://*/DB_dbLabelMid.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbLabelMid;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>