{
	"Lights": [
		{
			"Name":"光电",
			"List":[
				{"Name":"横向电机左限位","Index":0},
				{"Name":"横向电机右限位","Index":1},
				{"Name":"纵向电机上限位","Index":2},
				{"Name":"纵向电机下限位","Index":3},
				{"Name":"抓手物料检测","Index":4},
				{"Name":"压辊前端","Index":5},
				{"Name":"压辊中段","Index":6},
				{"Name":"压辊后端","Index":7},
				{"Name":"寻边检测","Index":8}
			]
		}
	],
	"Params": [
		{
			"Name":"横向电机",
			"List":[
				{"Name":"横向左极限到料仓1的脉冲数","Index":0,Buttons:[{"Name":"复位","Action":0x01},{"Name":"测试","Action":0x81}]},
				{"Name":"横向贴标位到料仓8的脉冲数","Index":1,Buttons:[{"Name":"复位","Action":0x02},{"Name":"测试","Action":0x82}]},
				{"Name":"两仓盒间距步数","Index":2,Buttons:[{"Name":"复位","Action":0x03},{"Name":"测试","Action":0x83}]},
			]
		},
		{
			"Name":"纵向电机",
			"List":[
				{"Name":"纵向上极限到料仓的脉冲数","Index":3,Buttons:[{"Name":"复位","Action":0x04},{"Name":"测试","Action":0x84}]},
				{"Name":"纵向上极限到贴标位的脉冲数","Index":4,Buttons:[{"Name":"复位","Action":0x05},{"Name":"测试","Action":0x85}]},
				{"Name":"纵向上极限到举料位的脉冲数","Index":5,Buttons:[{"Name":"复位","Action":0x06},{"Name":"测试","Action":0x86}]},
				{"Name":"纵向上极限到待机位的脉冲数","Index":6,Buttons:[{"Name":"复位","Action":0x07},{"Name":"测试","Action":0x87}]},
				{"Name":"纵向举料到料仓间的脉冲数","Index":7,Buttons:[{"Name":"复位","Action":0x08},{"Name":"测试","Action":0x88}]},
				{"Name":"纵向举料到贴标位间的脉冲数","Index":8,Buttons:[{"Name":"复位","Action":0x09},{"Name":"测试","Action":0x89}]},
				{"Name":"纵向待机位到料仓位间的脉冲数","Index":9,Buttons:[{"Name":"复位","Action":0x0A},{"Name":"测试","Action":0x8A}]},
				{"Name":"纵向待机位到料贴标位间的脉冲数","Index":10,Buttons:[{"Name":"复位","Action":0x0B},{"Name":"测试","Action":0x8B}]},
			]
		},
		{
			"Name":"主辊电机",
			"List":[
				{"Name":"主辊贴标前预置等待角度所需步数","Index":11,Buttons:[{"Name":"复位","Action":0x0C},{"Name":"测试","Action":0x8C}]},				
			]
		},
		/*{
			"Name":"打印参数",
			"List":[
				{"Name":"巡边脉冲","Index":7},
				{"Name":"出纸延迟","Index":7},
			]
		},*/
	],
	"Actions": [
		{
			"Name":"",
			"List":[
				{
					"Name":"纵向电机",
					"List":[
						{"Name":"向下","Index":1,"Action":2},
						{"Name":"向上","Index":1,"Action":1},
						{"Name":"停止","Index":1,"Action":0},
					]
				},
				{
					"Name":"压辊电机",
					"List":[
						{"Name":"回位","Index":2,"Action":1},
						{"Name":"向前","Index":2,"Action":2},
						{"Name":"停止","Index":2,"Action":0},
					]
				},
				{
					"Name":"横向电机",
					"List":[
						{"Name":"向右","Index":3,"Action":1},
						{"Name":"向左","Index":3,"Action":2},
						{"Name":"停止","Index":3,"Action":0},
					]
				},
				{
					"Name":"主辊电机",
					"List":[
						{"Name":"逆时针旋转","Index":4,"Action":1},
						{"Name":"顺时针旋转","Index":4,"Action":2},
						{"Name":"停止","Index":4,"Action":0},
					]
				},
			]
		},
		{
			"Name":"",
			"List":[
				{
					"Name":"机械手",
					"List":[
						{"Name":"释放","Index":5,"Action":0},
						{"Name":"夹紧","Index":5,"Action":1},
					]
				},
				{
					"Name":"卡片",
					"List":[
						{"Name":"复位","Index":6,"Action":0},
						{"Name":"拉开","Index":6,"Action":1},
					]
				},
				{
					"Name":"出口电机",
					"List":[
						{"Name":"Com1","Index":7,"Action":1},
						{"Name":"停止","Index":7,"Action":0},
						{"Name":"Com2","Index":7,"Action":2},
					]
				}
			]
		}
	],
	"Bins":[
		{
			"Name":"",
			"List":[
				{"Name":"1.复位","Index":8,"Action":0,After:"binReset"},
				{"Name":"2.取料","Index":8,"Action":1},
				{"Name":"3.移料","Index":8,"Action":2},
				{"Name":"4.落料","Index":8,"Action":3,"Name2":"4.返回","Action2":19},
				{"Name":"5.压辊夹紧","Index":8,"Action":4,"Name2":"5.释放","Action2":20},
				{"Name":"6.夹爪释放","Index":8,"Action":5,"Name2":"6.夹紧","Action2":21},
				{"Name":"7.滑台返回","Index":8,"Action":6},
				{"Name":"8.主辊启动","Index":8,"Action":7,"Name2":"8.停止","Action2":23},
				{"Name":"9.打印","Index":8,"Action":8},
				{"Name":"10.结束","Index":8,"Action":9},
			]
		}
	]
}