.annous {
    font-size: 14px;
    width: 730px;
}

    .annous a {
        color: #fff;
    }

.main {
    border: 4px solid #F4F4F4;
    border-left: 0px;
}

#left_tool {
    width: 5px;
    float: left;
    cursor: pointer;
    vertical-align: middle;
    color: #757F72;
}

.shenzhan {
    background-size: inherit;
    background-repeat: no-repeat;
    background-position-y: center;
}

.shenzhan_l {
    background-image: url('../images/shenzhan_l.gif');
}

.shenzhan_r {
    background-image: url('../images/shenzhan_r.gif');
}



marquee a {
    color:#fff;
    font-size:12px;
}