@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="/layui/config/layui/css/layui.css" rel="stylesheet" />
    <link href="/layui/config/style/admin.css" rel="stylesheet" />

</head>
<body style="height:350px">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">

                    <div class="layui-card-body" style="height:300px">

                        <div class="layui-form" style="margin-top:30px">
                            <div class="layui-form-item">
                                <label class="layui-form-label">当前密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="oldPassword" name="oldPassword" autocomplete="off" class="layui-input">
                                </div>
                                <span id="soldPassword" style="color:red">提示：输入当前密码</span>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="password" name="password" autocomplete="off" class="layui-input">
                                </div>
                                <span id="spassword" style="color:red;margin-top:10px">提示：牢记新密码</span>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="repassword" name="repassword" autocomplete="off" class="layui-input">
                                </div>
                                <span id="srepassword" style="color:red">提示：确认新密码</span>
                            </div>
                            <div class="layui-form-item" style="margin-top:40px">
                                <div class="layui-input-block">
                                    <button id="updatapwssword" class="layui-btn">确认修改</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/layui/config/layui/layui.js"></script>
    <script src="/layui/config/layui/jquery.min.js"></script>
    <script>layui.config({
            base: '/layui/config/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'set']);

        var oldpwd = $("#hold").val();
        $("#updatapwssword").click(function () {

            var oldPassword = $("#oldPassword").val();
            var password = $("#password").val();
            var repassword = $("#repassword").val();

            if (oldPassword == "") {
                $("#soldPassword").text('请输入当前密码');
                return;

            }  else if (password == "") {
                layer.msg('请输入新密码!');
                $("#spassword").text('请输入新密码');
                return;
            } else if (repassword == "") {

                $("#srepassword").text('请输入确认新密码');
                return;

            } else if (repassword != password) {

                $("#srepassword").text('两次密码不一致');
                return;
            }
            else {
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: 'json',//预期服务器返回的数据类型
                    url: "/home/changepassword",//url
                    data: { "password": password, old: oldPassword },
                    success: function (result) {
                        if (result.code> 0) {
                            $("#soldPassword").text("");
                            $("#spassword").text("");
                            $("#srepassword").text("");
                            layer.msg("密码修改成功,3秒后将重新登陆平台!", { time: 3000 }, function () {
                                window.parent.LoingOuts();
                            });
                        } else {
                            alert(result.msg);
                        }
                    },
                    error: function () {
                        alert("密码修改异常！请联系管理员");
                    }
                });
            }

        });</script>
</body>
</html>

